
.App{
 
  text-align: right;
  
  background-color: rgb(6, 6, 8);
 font-size: 25px;
 color:  rgb(194, 184, 184);

}

  .course{
    color:  rgb(8, 3, 3);
    background-image: url("https://cdn.aarp.net/content/dam/aarp/money/investing/2020/01/1140-bull-and-bear-illustration-with-stock-chart.jpg");
    background-size: cover;
  }
.home{
  
    height: 10em;
    position: relative
   }

   

  .shop{
    text-align:center;
    
    height: 100vh;
    background-size: cover;
  }


.form-container{
  font-size:25px;   
  text-align: left;
  bottom: 10px;
}
  .form-container2{
    font-size:25px;   
    text-align:left;
    bottom: 10px;
}
.container{
      
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:left;
}
.image{
 size: cover;
 min-height: 850px;
 

}
.btn{
  background-color: rgb(241, 243, 241);
}
.divider{
  width:10px;
  height:auto;
  display:inline-block;
}
.divider1{
  width:100px;
  height:auto;
  display:inline-block;
}
.divider2{
  width:10px;
  height:auto;
  display:inline-block;
}
.about{
  size: cover;
 min-height: 850px;
 opacity:0.9;

}
.about-stock {
  position: absolute;
  bottom: 500px;
  margin: 4%;
  padding-right: 110px;
  color: white;
  left: 250px;
  font-size: 25px;
}

.about-stock1 {
  position: absolute;
  bottom: 450px;
  font-size: 25px;
  color: white;
  left: 500px;
}
.about-stock2 {
  position: absolute;
  top: 100px;
  font-size: 80px;
  color: white;
  left: 500px;
}

.shop{
  text-align: center;
}