
.home1{
 
  text-align: left;
  
  background-color: rgb(6, 6, 8);
 font-size: 25px;
 

}

body {
  background-color: rgb(6, 6, 8);
}

  .course{
    background-image: url("https://cdn.aarp.net/content/dam/aarp/money/investing/2020/01/1140-bull-and-bear-illustration-with-stock-chart.jpg");
    background-color: black;
    background-size: cover;
    color:white;
    padding: 90px 90px;
    min-height: 1000px;
  }
.home{
  
    height: 10em;
    position: relative
   }

   

  .shop{
    text-align:center;
    
    height: 100vh;
    background-size: cover;
  }


.form-container{
  color:white;
  background-color: black;
  font-size:25px;   
  text-align: center;
  bottom: 10px;
}
  .form-container2{
    color:white;
  background-color: black;
    font-size:25px;   
    text-align:center;
    bottom: 10px;
}
.container{
      
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:left;
}
.image{
 size: 100%;
 min-height: 850px;
 

}
.btn{
  background-color: rgb(241, 243, 241);
}
.divider{
  width:10px;
  height:auto;
  display:inline-block;
}
.divider1{
  width:300px;
  height:auto;
  display:inline-block;
}
.divider2{
  width:10px;
  height:auto;
  display:inline-block;
}
.about{
  size: cover;
 min-height: 1000px;
 opacity:0.9;

}
.about-stock {
  position: absolute;
  bottom: 500px;
  margin: 4%;
  padding-right: 110px;
  color: white;
  left: 250px;
  font-size: 25px;
}

.about-stock1 {
  position: absolute;
  bottom: 450px;
  font-size: 25px;
  color: white;
  left: 500px;
}
.about-stock2 {
  position: absolute;
  top: 100px;
  font-size: 80px;
  color: white;
  left: 500px;
}

.shop{
  text-align: center;
  
}

.Stock-image {
  background-color: black;
  height: 250px;
  width: 300px;
  
  
 }

 .Stock-card {
   position: relative;
   display: inline;
   /* background-color: black;  */
   margin: 8%; 
   height: 250px;
   float: left;
   outline: black;
   background-position: 100;
   text-align: center;
   color: white
 }

 .home-page {
   background-color: black;
 }

 .signup{
  background-image: url("https://cdn.aarp.net/content/dam/aarp/money/investing/2020/01/1140-bull-and-bear-illustration-with-stock-chart.jpg");
  background-color: black;
  background-size: cover;
  color:white;
  padding: 90px 80px;
  min-height: 1000px;
}
 
.column {
  float: left;
  width: 27%;
  padding: 1px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.profile {
  max-width: 500px;
}

.profile-image {
  height: 300px;
  width: 400px;
  margin: 10px;
}

.login-input{
  position: absolute;
  bottom: 600px;
  right: 900px;
  color: black;
}

.about-image {
  position: relative
}

.login-button {

  position: absolute;
  bottom: 100px;
  right: 60px;
  top: 180px
}

.signup-button {
  color: white;
  top: 20px;
  bottom: 200px
}

.detailed-image{
  height: 250px;
  width: 300px
}